<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<title>{{PACKAGE.name}} v{{PACKAGE.version}}</title>-->
  <!--{{{FAVICON_HTML}}}-->
  <!--<link rel="stylesheet" href="{{BASE_URL}}{{FABRICATOR_STYLES}}">-->
  <!--{{#each STYLES_ASSETS}}-->
    <!--<link rel="stylesheet" href="{{../BASE_URL}}{{this}}">-->
  <!--{{/each}}-->
</head>
<body>
FABRICATOR PAGE
<!--<body class="f-body">-->
<!--{{> ../partials/menu}}-->
<!--{{{VIEW}}}-->
<!--<script src="{{BASE_URL}}{{FABRICATOR_SCRIPT}}"></script>-->
<!--{{#each SCRIPT_ASSETS}}-->
  <!--<script src="{{../BASE_URL}}{{this}}"></script>-->
<!--{{/each}}-->
</body>
</html>
