<div class="f-menu">
  <div class="f-menu-top">
    <div onclick="location.href='{{BASE_URL}}'" title="Home">Home</div>
    <div data-f-menu-toggle="#f-materials-menu" title="Materials">Materials</div>
  </div>
  <div class="f-menu-sub" id="f-materials-menu">
    {{#each MATERIALS}}
      <div class="f-menu-group">
        <div>{{@key}}</div>
        {{#each this}}
          <div>{{this}}</div>
        {{/each}}
      </div>
      <!--<a href="{{../BASE_URL}}{{../MATERIALS_DIR}}/{{@key}}" title="{{@key}}">{{@key}}</a>-->
    {{/each}}
  </div>
</div>
