<div>
  <div onclick="location.href='{{BASE_URL}}'" title="Home">Home</div>
  <div data-f-menu-toggle="#f-materials-menu" title="Materials">Materials</div>
</div>
<div id="f-materials-menu">
  MATERIALS MENU
  <!--{{#each materialGroups}}-->
    <!--<a href="{{../BASE_URL}}{{../MATERIALS_DIR}}/{{@key}}" title="{{@key}}">{{@key}}</a>-->
  <!--{{/each}}-->
</div>
