<div class="f-style f-menu">
  <div class="f-band-full f-black">
    <div class="f-menu-top">
      <div onclick="location.href='{{BASE_URL}}'" title="Home">Home</div>
      <div data-f-menu-toggle="#f-materials-menu" title="Materials">Materials</div>
    </div>
  </div>
  <div class="f-menu-sub" id="f-materials-menu">
    {{#each MATERIALS}}
      <div class="f-menu-group">
        <a href="{{../BASE_URL}}materials/{{@key}}/" title="{{@key}}">{{@key}}</a>
        {{#each this}}
          <div>{{.}}</div>
          <!--TODO: Add link to #id part of page, once https://github.com/markdalgleish/static-site-generator-webpack-plugin/issues/109 is resolved-->
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
