<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{{FAVICON_HTML}}}
  <link rel="stylesheet" href="{{baseurl}}{{FABRICATOR_STYLES}}">
</head>
<body>
{{> ../partials/menu}}
{{{VIEW}}}
<script src="{{BASE_URL}}{{FABRICATOR_SCRIPT}}"></script>
</body>
</html>
